body {
  font-family: arial, sans-serif;
}

h1 {
  color: #504e4e;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #504e4e;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

hr {
  margin-top: 30px;
  margin-bottom: -20px;
  border-top: 2px double #5a5f60;
}

footer {
  font-size: smaller;
}

.background {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/545/original/davies-designs-studio-G-6kwVnClsE-unsplash.jpg?1675374055");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-wrap {
  max-width: 600px;
  margin: 30px auto;
  backdrop-filter: blur(15px);
}

.weather-app {
  padding: 20px;
  border: 1px solid #83afe4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-top: -20px;
  margin-right: 10px;
}

.weather-temperature strong {
  color: #000000;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 15px;
}
